@import 'config';

.role {
    color: $primary-color;
}

#about-us {
    p {
        margin-top: 1rem;
       
    }

    .member {
        display: block;
        overflow: hidden;
        margin-bottom: 1.25rem;

        @include breakpoint(sm){
            margin:-bottom 1.75rem;
        }
    }
}