@import 'config';

.music {
    .repertorio{
        margin: 0 auto;

        td {
           padding: 1rem; 

           @include breakpoint(sm){
               padding: .25rem 0.75rem;
           }
        }
        ul {
            list-style: none;
        }
        tr:nth-child(odd){
            color: $primary-color;
        }
        th{
            font-size: 24px;
            color: #fff;
        }
    }
}